{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Update Reservation</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h2>Update Reservation</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Update">
        </form>
    </div>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>

</body>
</html>